{% extends "_base.html" %}
{% block title %}Add Book{% endblock %}
{% block content %} 
<p>Hello, all the books of <b>{{author.0.first_name}}</b></p>
<p>Are you sure you want to add a new book ? </p>
<a href="{% url 'book-add' pk %}">add a book</a>
<a href="{% url 'author-list' %}">back author list</a>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for book in author_book %}
    <div class="col">
        <div class="card text-center h-100">
            <div class="card-body">
                <a href="{% url 'book-update' book.pk %}">edit</a>
                <a href="{% url 'book-delete' book.pk %}">delete</a>
                <h5 class="card-title">{{ book.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{book.pub_date}}</h6>
                <p class="card-text">{{book.description}}</p>
                {% for el in book.files.all %}
                    <a class="" href="{{el.created_file}}" target="_blank">File {{forloop.counter}}</a>
                {% empty %}
                    <p>No book yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>   
{% endblock %}